.navbar {
  max-width: 100vw;  
  border-style: none;
  height: 12vh;
  box-shadow: var(--theme-shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  }
  
  .menu-bars {
    color: var(--theme-color);  
    margin-left: 25px;
    font-size: 28px;
  }
  .cart-icon{
    color: var(--theme-color);  
    margin-right: 25px;
    font-size: 28px;
    }
  .logo{
    width: 15rem;
    height: 1.8rem;
  }
  .close-btn .a{
    color: black;
    top: 200px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 180px;
  }
  .close-btn .a:hover {
    color: var(--theme-color);
  }
  .nav-menu {
    background: white;
    box-shadow: var(--theme-shadow);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.5s;
    z-index: 2;
    opacity:0.9;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 0.5s;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #ffffff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color:white;
    
    border:none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }